html {
	font-size: 16px;
}

body {
	--color-001: hsl(25, 97%, 53%);
	--color-002: hsl(0, 0%, 100%);
	--color-003: hsl(217, 12%, 63%);
	--color-004: hsl(216, 12%, 54%);
	--color-005: hsl(213, 19%, 18%);
	--color-006: hsl(216, 12%, 8%);
	--color-007: hsl(216, 12%, 25%);
	font-family: 'Overpass', sans-serif;
	background-color: var(--color-006);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
}

h2,
p {
	color: var(--color-002);
}
p {
	font-size: 0.938rem;
	line-height: 1.8;
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 20px;
	position: absolute;
	bottom: 10px;
	color: var(--color-003);
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.card {
	width: 70vw;
	max-width: 350px;
	background-color: var(--color-005);
	padding: 30px 20px;
	border-radius: 25px;
	margin-top: 20vh;
}

.card > svg {
	padding: 15px;
	border-radius: 50px;
	background-color: var(--color-007);
}

select {
	border: none;
	overflow: hidden;
	margin-top: 20px;
	width: 100%;
	background-color: transparent;
	height: 50px;
	text-align: center;
}
select:focus {
	outline: none;
}

option {
	background-color: var(--color-007);
	border-radius: 50px;
	border: none;
	width: 30px;
	height: 30px;
	padding: 10px 5px 0;
	font-size: 0.938rem;
	color: var(--color-002);
	cursor: pointer;
	transition: background-color 0.4s ease;
	display: inline-block;
	text-align: center;
}
option:not(:first-of-type) {
	margin-left: 5%;
}
option:hover {
	background-color: var(--color-001);
}
option:checked,
option:active,
option:focus,
option:target,
option:focus-visible {
	background-color: var(--color-004);
}
input[type='submit'] {
	width: 100%;
	background-color: var(--color-001);
	font-size: 0.938rem;
	color: var(--color-002);
	border: none;
	margin-top: 30px;
	padding: 15px 0;
	border-radius: 50px;
	font-weight: 700;
	letter-spacing: 2px;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

input[type='submit']:hover {
	background-color: var(--color-002);
	color: var(--color-001);
}

.no-display {
	display: none !important;
}

.thank-card {
	visibility: hidden;
	opacity: 0;
	flex-direction: column;
	align-items: center;
	display: flex;
	transform: translateY(-20px);
	transition: all 0.4s ease-in-out;
	margin-top: 0;
}

.thank-card h2 {
	margin-bottom: 0;
}
.thank-card p {
	text-align: center;
}
.thank-card > svg {
	background-color: transparent;
}

.result p {
	background-color: var(--color-007);
	color: var(--color-001);
	padding: 5px 20px;
	border-radius: 50px;
}

.opacity {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/* MEDIA QUERIES */

@media screen and (min-width: 976px) {
	.card {
		padding: 40px;
	}
	option {
		width: 50px;
		height: 30px;
		padding: 15px 0 5px;
	}
	option:not(:first-of-type) {
		margin-left: 24px;
	}
}
